<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/iconfont.css" />
		<title>课程评价</title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">课程评价</h1>
		</header>
		<div class="mui-content">
			<div class="bgf plcz">
				<h3>评论该课程</h3>
				<div>
					<span class="iconfont">&#xe659;</span>
					<span class="iconfont">&#xe659;</span>
					<span class="iconfont">&#xe659;</span>
					<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
					<span class="iconfont">&#xe634;</span>
				</div>
			</div>
		</div>
		<div>
			<span>综合评价</span>
			<div>
				<span class="iconfont">&#xe659;</span>
				<span class="iconfont">&#xe659;</span>
				<span class="iconfont">&#xe659;</span>
				<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
				<span class="iconfont">&#xe634;</span>
			</div>
			<span>（155条评价）</span>
		</div>
		<ul class="bgf">
				<li class="pl-list">
						<span class="fl"><img src="../../../img/user-topimg.png" alt="" /></span>
						<div class="pluser-name">
							<h3>闫银河</h3>
							<span>06月23日</span>
						</div>
						<div class="fr iconcolor">
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
							<span class="iconfont">&#xe634;</span>
						</div>
					<p>这是一段用户评论内容，是一段要体现三行字段的内容。用户只能对机构评论，不能用户评论回复用户。这是一段用户评论内容，是一段要体现三行字段的内容。</p>
				</li>
				<li class="pl-list">
						<span class="fl"><img src="../../../img/user-topimg.png" alt="" /></span>
						<div class="pluser-name">
							<h3>闫银河</h3>
							<span>06月23日</span>
						</div>
						<div class="fr iconcolor">
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
							<span class="iconfont">&#xe634;</span>
						</div>
					<p>这是一段用户评论内容，是一段要体现三行字段的内容</p>
				</li>
				<li class="pl-list">
						<span class="fl"><img src="../../../img/user-topimg.png" alt="" /></span>
						<div class="pluser-name">
							<h3>闫银河</h3>
							<span>06月23日</span>
						</div>
						<div class="fr iconcolor">
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
							<span class="iconfont">&#xe634;</span>
						</div>
					<p>这是一段用户评论内容，是一段要体现三行字段的内容。</p>
				</li>
			</ul>
	</body>
</html>
