<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/iconfont.css" />
		<title>课程详情</title>
	</head>
	<body>
		<div class="kcxq-top">
			<span class="mui-icon mui-icon-left-nav kcxq-fh"></span>
			<span class="iconfont kcxq-sc">&#xe634;</span>
			<img src="../../../img/kcxq-img1.png" alt="" />
		</div>
		<div class="bgf kcxinxi">
			<h3>学外语到环球雅思-成人英语培训</h3>
			<span>20人已报名</span>
			<span>35课时</span>
			<div class="pfxx">
				<span class="iconfont">&#xe659;</span>
				<span class="iconfont">&#xe659;</span>
				<span class="iconfont">&#xe659;</span>
				<span class="iconfont" style="font-size:0.37rem !important;">&#xe638;</span>
				<span class="iconfont">&#xe634;</span>
			</div>
		</div>
		<div class="bgf kcxq-dq">
			<ul>
				<li><span class="iconfont">&#xe6d4;</span>早上19:00-23:00</li>
				<li><span class="iconfont">&#xe61d;</span>北京市东城区和平西街79号 糖果俱乐部<a href="">查看地图</a></li>
				<li><span class="iconfont">&#xe6d6;</span>夏老师<a href="">1851554252</a></li>
			</ul>
		</div>
		<div class="zhiwei-box bgf">
			<div class="zhiwei-top">
				<span class="iconfont fontsize fl">&#xe6c2;</span>
				<span>课程概述</span>
				<button class="fr"><span class="iconfont">&#xe65a;</span>展开</button>
			</div>
			<div class="zhiwei-yaoqiu pd04">
				<h3>本课程为免费试学科，如果您试学满意需要，想要报名学习完整课程，请咨询联系在线客服。课程特性:</h3>
				<p class="xianshi1">
					1.螺旋式难度知识点设计，全面权威。<br />
					2.螺旋式难度知识点设计，全面权威.<br />
					3.螺旋式难度知识点设计，全面权威.<br />
				</p>
			</div>
		</div>
		<div class="bgf skls-box">
			<h3 class="skls-top">
				<span class="iconfont fontsize color5af2">&#xe6c2;</span>
				授课老师
			</h3>
			<div class="mui-row skls-xinxi">
				<div class="mui-col-xs-3"><img src="../../../img/js-img.png" alt="" /></div>
				<div class="mui-col-xs-9">
					<h3>张邦鑫<span>英语老师</span></h3>
					<p class="yincang1">张邦鑫，好未来（原学而教育）董事长兼CEO。2002年本科毕业于四川大学生命科学学院，2002年本科毕业于四川大学生命科学学院，</p>
				</div>
			</div>
		</div>
		<div class="bgf pxjg-box">
			<h3 class="pxjg-top">
				<span class="iconfont fontsize colorf274">&#xe617;</span>
				培训机构
			</h3>
			<ul class=" mui-table-view-striped mui-table-view-condensed bd-pd">
				<li class="mui-table-view-cell">
					<a href="">
						<div class="mui-table">
							<div class="mui-table-cell mui-col-xs-2 shop-logo">
								<img src="../../../img/2-logo.png" />
							</div>
							<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
								<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
								<div class="appraise">
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
									<span class="iconfont">&#xe634;</span>
								</div>
								<p class="shop-footer"><span>培训机构</span><span>2000人以上</span><span>3条评论</span></p>
							</div>
							<div class="mui-table-cell mui-col-xs-2 text-right right-sty">
								<span class="mui-icon mui-icon-arrowright"></span>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="bgf pl-box pd-bottom13">
			<h3><span class="iconfont fontsize fl">&#xe649;</span>课程评价 <a href="" class="fr">28条评价<i class="mui-icon mui-icon-arrowright"></i></a></h3>
			<ul>
				<li class="pl-list">
						<span class="fl"><img src="../../../img/user-topimg.png" alt="" /></span>
						<div class="pluser-name">
							<h3>闫银河</h3>
							<span>06月23日</span>
						</div>
						<div class="fr iconcolor">
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
							<span class="iconfont">&#xe634;</span>
						</div>
					<p>这是一段用户评论内容，是一段要体现三行字段的内容。用户只能对机构评论，不能用户评论回复用户。这是一段用户评论内容，是一段要体现三行字段的内容。</p>
				</li>
				<li class="pl-list">
						<span class="fl"><img src="../../../img/user-topimg.png" alt="" /></span>
						<div class="pluser-name">
							<h3>闫银河</h3>
							<span>06月23日</span>
						</div>
						<div class="fr iconcolor">
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
							<span class="iconfont">&#xe634;</span>
						</div>
					<p>这是一段用户评论内容，是一段要体现三行字段的内容</p>
				</li>
				<li class="pl-list">
						<span class="fl"><img src="../../../img/user-topimg.png" alt="" /></span>
						<div class="pluser-name">
							<h3>闫银河</h3>
							<span>06月23日</span>
						</div>
						<div class="fr iconcolor">
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont">&#xe659;</span>
							<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
							<span class="iconfont">&#xe634;</span>
						</div>
					<p>这是一段用户评论内容，是一段要体现三行字段的内容。</p>
				</li>
			</ul>
		</div>
		<div class="coursefooter">
			<i class="iconfont">&#xe670;</i>
			<span>报名体验</span>
		</div>
	</body>
</html>
