
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf?t=1490769558308') format('truetype'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  /*-webkit-text-stroke-width: 0.2px;*/
}


.icon-guanbi:before { content: "\e600"; }

.icon-dianhua:before { content: "\e6d6"; }

.icon-star-outline:before { content: "\e634"; }

.icon-xingxing:before { content: "\e659"; }

.icon-brand:before { content: "\e607"; }

.icon-xiaoxi:before { content: "\e649"; }

.icon-shanchu:before { content: "\e65f"; }

.icon-bianji:before { content: "\e670"; }

.icon-fenxiang:before { content: "\e611"; }

.icon-bankexing1:before { content: "\e638"; }

.icon-package-copy:before { content: "\e608"; }

.icon-iconfont:before { content: "\e635"; }

.icon-iconset0150:before { content: "\e631"; }

.icon-iconset0308:before { content: "\e6cf"; }

.icon-iconset0313:before { content: "\e6d5"; }

.icon-iconset0314:before { content: "\e6d7"; }

.icon-qiehuan:before { content: "\e6b6"; }

.icon-zhongbiao:before { content: "\e6d4"; }

.icon-huo:before { content: "\e605"; }

.icon-sanjiao-copy:before { content: "\e65a"; }

.icon-kefu:before { content: "\e61c"; }

.icon-weibiaoti103:before { content: "\e632"; }

.icon-fujin:before { content: "\e61d"; }

.icon-gantanhao11-copy:before { content: "\e67e"; }

.icon-1:before { content: "\e6c2"; }

.icon-home:before { content: "\e66c"; }

.icon-dingwei:before { content: "\e642"; }

.icon-weibiaoti4:before { content: "\e609"; }

.icon-zhifufangshi-copy:before { content: "\e601"; }

.icon-gou:before { content: "\e618"; }

.icon-common-xiangji-copy:before { content: "\e610"; }

.icon-wode:before { content: "\e63b"; }

.icon-zixun:before { content: "\e6b0"; }

.icon-kuaidi:before { content: "\e602"; }

.icon-shousuo:before { content: "\e604"; }

.icon-fujin-copy:before { content: "\e603"; }

.icon-quxiaoshoucang:before { content: "\e62a"; }

.icon-sanjiao:before { content: "\e606"; }
