<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>选择城市</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav forget-title bgcolor-4b">
			<h1 class="mui-title city-title">
				选择城市
			</h1>
			<a class="mui-action-back mui-pull-right cityguanbi"><img src="../../img/1-close.png"/></a>
		</header>
		<div class="mui-content">
			<h3 class="city-top">当前定位城市</h3>
			<div class="city-item">
				<span>上海</span>
			</div>
			<h3 class="city-top"><span class="iconfont">&#xe659;</span>热门城市</h3>
			<div class="city-item2">
				<span>北京</span>
				<span>上海</span>
				<span>深圳</span>
				<span>广州</span>
				<span>杭州</span>
				<span>成都</span>
				<span>南京</span>
				<span>武汉</span>
				<span>西安</span>
				<span>厦门</span>
				<span>长沙</span>
				<span>苏州</span>
				<span>天津</span>
			</div>
			<h3 class="city-top">ABCDEF</h3>
			<div class="city-item2">
				<span>鞍山</span>
				<span>蚌埠</span>
				<span>保定</span>
				<span>北京</span>
				<span>长春</span>
				<span>成都</span>
				<span>重庆</span>
				<span>长沙</span>
				<span>常熟</span>
				<span>朝阳</span>
				<span>常州</span>
				<span>东莞</span>
				<span>大连</span>
				<span>东营</span>
				<span>东莞</span>
				<span>大连</span>
				<span>常州</span>
				<span>德州</span>
			</div>
		</div>
	</body>
</html>
