<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<title>数据列表</title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">中小学</h1>
		</header>
		<div class="mui-content">
			<div id="item5" class="">
				<div>
					<div id="segmentedControl" class="mui-segmented-control item-nav">
						<a class="mui-control-item mui-active" href="#">全上海<i class="iconfont">&#xe65a;</i></a>
						<a class="mui-control-item" href="#">科目<i class="iconfont">&#xe65a;</i></a>
						<a class="mui-control-item" href="#">排序<i class="iconfont">&#xe65a;</i></a>
					</div>
				</div>
				<div id="scroll" class="mui-scroll-wrapper search-padding bgwu3">
					<div class="mui-scroll ">
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
			})(mui);
			var H = docEl.clientHeight;
			var hear1 = document.getElementsByTagName('header')[0].offsetHeight;
		
			var item5 = document.getElementById('item5');
			item5.style.height = H - hear1+ "px";
		</script>
	</body>

</html>