<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>我的收藏</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<script src="../../js/vedio.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav  forget-title bgcolor-4b">
			<a href="" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<div class="nearby-nav">
				<div id="segmentedControl" class="mui-segmented-control">
					<a class="mui-control-item mui-active" href="#collect1">机构</a>
					<a class="mui-control-item" href="#collect2">课程</a>
				</div>
			</div>
			<button class="collect-del">清空</button>
		</header>
		<div class="mui-content bgf2">
			<ul class=" mui-control-content mui-active" id="collect1">
				<li class="pd30 mb2 bgf">
					<a href="">
						<div class="mui-table">
							<div class="mui-table-cell mui-col-xs-2 shop-logo">
								<img src="../../img/2-logo.png" />
							</div>
							<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
								<h4 class="mui-ellipsis shop-name">51TAlk无忧教育</h4>
								<div class="appraise appraise-sty">
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe634;</span>
								</div>
								<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							    <span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
								<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
								<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
							</div>
						</div>
					</a>
					<div class="collect-del-item"><i class="iconfont">&#xe62a;</i>取消收藏</div>
				</li>	
				<li class="pd30 mb2 bgf">
					<a href="">
						<div class="mui-table">
							<div class="mui-table-cell mui-col-xs-2 shop-logo">
								<img src="../../img/2-logo.png" />
							</div>
							<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
								<h4 class="mui-ellipsis shop-name">51TAlk无忧教育</h4>
								<div class="appraise appraise-sty">
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe659;</span>
									<span class="iconfont">&#xe634;</span>
								</div>
								<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							    <span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
								<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
								<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
							</div>
						</div>
					</a>
					<div class="collect-del-item"><i class="iconfont">&#xe62a;</i>取消收藏</div>
				</li>		
			</ul>
			<div id="collect2" class="mui-control-content">
					<ul class="courseul">
						<li class="pd30 mb2 bgf">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时:4</span><span style="margin-right: 0.2rem;">评价:16</span><span>地点:黄浦区</span></h5>	
									</div>
								</div>
							</a>
							<div class="collect-del-item"><span><i class="iconfont">&#xe62a;</i>取消收藏</span><span><i class="iconfont">&#xe632;</i>报名体验</span></div>
						</li>
						<li class="pd30 mb2 bgf">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时:4</span><span style="margin-right: 0.2rem;">评价:16</span><span>地点:黄浦区</span></h5>	
									</div>
								</div>
							</a>
							<div class="collect-del-item"><span><i class="iconfont">&#xe62a;</i>取消收藏</span><span><i class="iconfont">&#xe632;</i>报名体验</span></div>
						</li>
					</ul>
				</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			(function($){
				$.ready(function(){
					var conbox = document.getElementsByClassName('mui-content')[0];
					var courseul = $('.mui-control-content');
					var item = $('.mui-control-item');
					var bg=function(i){
						var coli=courseul[i].getElementsByTagName('li');
//						var courseul = $('.courseul');
						if(coli.length==0){
							conbox.classList.add('collectbg');
						}else{
							conbox.className='mui-content bgf2';
						};
					};
					bg(0);//调用当没有数据时显示没有数据的背景图
					item.each(function(i,itm){//遍历点击切换点击效果
						itm.addEventListener('tap',function(){
//							for(var j=0;j<item.length;j++){
//								item[j].className='mui-control-item';
//							}
//							itm.classList.add('mui-active');
							bg(i);
						});
					});
				});
			})(mui);
			var H = docEl.clientHeight;//获取屏幕高度
			var content = document.getElementsByClassName('mui-content')[0];
			content.style.height = H+"px";//把屏幕高度添加到内容的框中
		</script>
	</body>
</html>
