<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<title>数据列表</title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">黄浦区科技京城</h1>
		</header>
		<div class="mui-content">
			<div class="Data-content-title">
				<div class="shop-title-img"><img src="../../img/2-weizhi-img.png" /></div>
				<h3 class="shop-H">黄浦区科技京城</h3>
				<p class="shop-weizhi"><span>17</span>个培训机构<span class="shop-julishu">1</span>米</p>
			</div>
			<div id="item3" class="mui-control-content bgwu2">
				<div id="scroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">51TAlk无忧教育</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise appraise-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
											<p class="shop-footer"><span>语言学习</span><span>2000人以上</span><span>3条评论</span></p>
										</div>

									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				var segmentedControl = document.getElementById('segmentedControl');
				$('.mui-input-group').on('change', 'input', function() {
					if(this.checked) {
						var styleEl = document.querySelector('input[name="style"]:checked');
						var colorEl = document.querySelector('input[name="color"]:checked');
						if(styleEl && colorEl) {
							var style = styleEl.value;
							var color = colorEl.value;
							segmentedControl.className = 'mui-segmented-control' + (style ? (' mui-segmented-control-' + style) : '') + ' mui-segmented-control-' + color;
						}
					}
				});
			})(mui);
			var H = docEl.clientHeight;
			var hear1 = document.getElementsByTagName('header')[0].offsetHeight;
			var titleH = document.getElementsByClassName('Data-content-title')[0].offsetHeight;
			var item3 = document.getElementById('item3');
			item3.style.height = H - hear1 - titleH + "px";
		</script>
	</body>

</html>