<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<title>招聘详情</title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">招聘详情</h1>
		</header>
		<div class="mui-content">
			<div class="pd30 bgf">
				<h3 class="zhaopin-title">语文数学英语物理化学教师（优胜教育上海）</h3>
				<span class="zhaopin-xinzi fr">【8K-15K】</span>
				<div class="zhaopin-xinxi">
					<span class="iconfont">&#xe61d;</span><span>上海</span>
					<span class="iconfont">&#xe608;</span><span>应届毕业生</span>
					<span class="iconfont">&#xe6c2;</span><span>大专</span>
					<span class="iconfont">&#xe6d4;</span><span>全职</span>
				</div>
				<p class="zhaopin-fuli"><span>福利待遇：</span><span>五险一金</span></p>
					<ul class=" mui-table-view-striped mui-table-view-condensed bd-pd">
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="appraise">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont" style="font-size:0.33rem !important;">&#xe638;</span>
												<span class="iconfont">&#xe634;</span>
											</div>
											<p class="shop-footer"><span>培训机构</span><span>2000人以上</span><span>3条评论</span></p>
										</div>
										<div class="mui-table-cell mui-col-xs-2 text-right right-sty">
											<span class="mui-icon mui-icon-arrowright"></span>
										</div>
									</div>
								</a>
							</li>
					</ul>
			</div>
			<div class="zhiwei-box bgf">
				<div class="zhiwei-top">
					<span class="iconfont fontsize fl">&#xe609;</span>
					<span>职位描述</span>
					<button class="fr"><span class="iconfont">&#xe65a;</span>展开</button>
				</div>
				<div class="zhiwei-yaoqiu">
					<h3>岗位职责：</h3>
					<p class="xianshi">
						1.主要撒了点空间回复来看撒娇的恢复了客家话撒地方看哈上课了电话费啦等。<br />
						2.按甲方的拉升按计划规范化及挨个闪电发货啊施工方还是框架和豆腐干gas空间和豆腐干。
					</p>
				</div>
			</div>
			<div class="lianxi-box bgf">
				<div class="lianxi-top">
					<span class="iconfont fontsize2">&#xe6d6;</span>
					<span>联系方式</span>
				</div>
				<div class="lianxi-tel">
					<span class="lianxi-name">夏老师</span> <span class="lianxi-tel">15222440210</span>
					<span class="mui-icon mui-icon-arrowright fr fontsize3"></span>
				</div>
			</div>
			<div class="lianxi-box bgf">
				<div class="lianxi-top">
					<span class="iconfont fontsize2">&#xe642;</span>
					<span>工作地址</span>
				</div>
				<div class="lianxi-tel">
					<span class="lianxi-name">金桥路宏南投资大厦1705室</span>
					<span class="mui-icon mui-icon-arrowright fr fontsize3"></span>
				</div>
			</div>
			<a href="" class="ruzhu">我要入驻</a>
		</div>
	</body>
</html>
