<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	</head>
	<body>
		
		<div class="mui-content bgf pdt110">
			<h3 class="text-center title-font title-lineh">重置成功</h3>
		</div>
		<div class="form-padding">
			<div class="text-center text-success">
				<img src="../../img/1-success.png" alt="" />
				<p>密码重置成功，请登录</p>
			</div>
			<a href="" class="form-submit">回到登录页面</a>
		</div>
	</body>
</html>
