<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<title>资讯详情</title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">资讯详情</h1>
		</header>
		<div class="mui-content bgf">
			<div class="text-top">
				<span>乐训联盟编辑</span><span>2016/11/01</span>
			</div>
			<img src="../../img/4-con-bgimg.png" alt="" class="img-top"/>
			<div class="text-content">
				<h2>乐训联盟：乐训产品拼到最后，就是拼服务</h2>
				<p>为了提高团队协作能力、增强团队凝聚力，2012年7月13日-14日，乐训联盟培训有限公司全体员工怀着无比激动的心情前往怀柔进行夏季旅游团队活动。此次活动项目有真人彩弹CS、漂流、篝火晚会及峡谷穿越等项目。</p>
				<p>第一个活动项目为真人CS。员工们身穿迷彩，头戴钢盔，手持彩弹枪，和战友们一起深入丛林，冲锋杀“敌”，每一位队友都坚守着自己的任务，都像是训练有素的士兵。</p>
				<img src="../../img/text-photo.png" alt="" />
			</div>
		</div>
	</body>
</html>
