<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	</head>
	<body class="register-bg">
		<h3 class="register-title">注册 <span class="login-top-close fr"><img src="../../img/1-close.png" class="fr"/></span></h3>
		<div class="register-logo">
			<img src="../../img/1-title.png"/>
		</div>
		<form action="" method="post">
			<div class="cle">
				<div class="register">
					<div class="register-box fl">
						<div class="register-conter">
							<div class="register-input bg-tel"><input type="text" placeholder="请输入账号"/></div>
							<div class="register-input bg-code"><input type="text" placeholder="请输验证码"/><span>获取验证码</span></div>
							<div class="register-input bg-password"><input type="password" placeholder="请输入密码"/></div>
						</div>
					</div>
				</div>
			</div>
			<div class="register-language text-center">注册代表已同意<a href="">《用户协议》</a></div>
			<a href="" class="register-login">我有账号，去登陆</a>
			<input type="submit" value="下一步" class="register-submit">
		</form>
		<div class="modal-box">
			<div class="zctx-box bgf">
				<h3>手机号已被注册</h3>
				<p>此手机号已被注册，请使用新手机号</p>
				<div>我知道了</div>
			</div>
		</div>
	</body>
</html>
