<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<title>附近</title>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav  forget-title bgcolor-4b">
			<div class="nearby-nav">
				<div id="segmentedControl" class="mui-segmented-control">
					<a class="mui-control-item mui-active" href="#item1">地图</a>
					<a class="mui-control-item" href="#item2">列表</a>
				</div>
			</div>
		</header>
		<div class="mui-content">
			<div id="item1" class="mui-control-content mui-active">
				<a href="#item3" class="mui-control-item"><img src="../../img/map.png" style="width:100%;"/></a>
			</div>
			<div id="item2" class="mui-control-content">
				<div>
					<div id="segmentedControl" class="mui-segmented-control item-nav">
						<a class="mui-control-item mui-active" href="#">全上海<i class="iconfont">&#xe65a;</i></a>
						<a class="mui-control-item" href="#">科目<i class="iconfont">&#xe65a;</i></a>
						<a class="mui-control-item" href="#">排序<i class="iconfont">&#xe65a;</i></a>
					</div>
				</div>
				<div id="scroll" class="mui-scroll-wrapper nearby-padding">
					<div class="mui-scroll">
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-2 shop-logo">
											<img src="../../img/2-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-10 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<h5 class="shop-place"><span class="iconfont" style="font-size:0.4rem; margin-right:0.2rem;">&#xe603;</span><span style="margin-right: 0.6rem;">1167.7km</span>
							                    	<span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe631;</span><span>3个</span></h5>
											<p class="mui-h6 mui-ellipsis shop-place"><span class="iconfont" style="font-size:0.4rem;margin-right:0.2rem;">&#xe61d;</span>上海市黄浦区南京东路科技京城西楼</p>
										</div>
										<!--<div class="mui-table-cell mui-col-xs-2 mui-text-right">
							                    <span class="mui-h5">12:25</span>
							                </div>-->
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
		<nav class="mui-bar mui-bar-tab " id="nearby-footer">
			<a class="mui-tab-item mui-active" href="#tabbar">
				<span class="mui-icon iconfont icon-home" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-chat">
				<span class="mui-icon iconfont icon-zixun zixun" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">资讯</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-chat">
				<span class="font-img"><img src="../../img/2-fujin.png"/></span>
				<span class="mui-tab-label nearby-magtop">附近</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-contact">
				<span class="mui-icon iconfont icon-iconfont" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">商城</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-map">
				<span class="mui-icon iconfont icon-wode" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">我</span>
			</a>
		</nav>
		<script src="../../js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				var segmentedControl = document.getElementById('segmentedControl');
				$('.mui-input-group').on('change', 'input', function() {
					if(this.checked) {
						var styleEl = document.querySelector('input[name="style"]:checked');
						var colorEl = document.querySelector('input[name="color"]:checked');
						if(styleEl && colorEl) {
							var style = styleEl.value;
							var color = colorEl.value;
							segmentedControl.className = 'mui-segmented-control' + (style ? (' mui-segmented-control-' + style) : '') + ' mui-segmented-control-' + color;
						}
					}
				});
			})(mui);
			var H = docEl.clientHeight;
			var hear1 = document.getElementsByTagName('header')[0].offsetHeight;
			var foote1 = document.getElementById('nearby-footer').offsetHeight;
			var item2 = document.getElementById('item2');
			item2.style.height = H - hear1 - foote1 + 2 + "px";
		</script>
	</body>

</html>