<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>搜索机构结果</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body ondragstart="return false" >
		<header class="mui-bar mui-bar-nav forget-title index-top-pd bgcolor-4b search-header">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav seach-top-span"></span>返回
			</button>
			<h1 class="mui-title search-wd search-wd2">
				<div class="mui-indexed-list-search mui-input-row mui-search mui-active">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" value="51Talk无忧英语" placeholder="搜索机构">
				</div>
			</h1>
		</header>
		<div class="mui-content">
			
		
		<div id="item4" class="">
				<div>
					<div id="segmentedControl" class="mui-segmented-control item-nav">
						<a class="mui-control-item mui-active" href="#">全上海<i class="iconfont">&#xe65a;</i></a>
						<a class="mui-control-item" href="#">科目<i class="iconfont">&#xe65a;</i></a>
						<a class="mui-control-item" href="#">排序<i class="iconfont">&#xe65a;</i></a>
					</div>
				</div>
				<div id="scroll" class="mui-scroll-wrapper search-padding bgwu3">
					<div class="mui-scroll ">
						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
							<li class="mui-table-view-cell">
								<a href="">
									<div class="mui-table">
										<div class="mui-table-cell mui-col-xs-4 book-logo">
											<img src="../../img/3-book-logo.png" />
										</div>
										<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
											<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
											<div class="mui-h6 mui-ellipsis shop-place">
												夏老师
												<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p></div>
											<h5 class="shop-place"><span style="margin-right: 0.4rem;">课时：4</span><span style="margin-right: 0.4rem;">评价：16</span><span>地点：黄浦区</span></h5>
											
										</div>

									</div>
								</a>
							</li>
						
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				var segmentedControl = document.getElementById('segmentedControl');
				$('.mui-input-group').on('change', 'input', function() {
					if(this.checked) {
						var styleEl = document.querySelector('input[name="style"]:checked');
						var colorEl = document.querySelector('input[name="color"]:checked');
						if(styleEl && colorEl) {
							var style = styleEl.value;
							var color = colorEl.value;
							segmentedControl.className = 'mui-segmented-control' + (style ? (' mui-segmented-control-' + style) : '') + ' mui-segmented-control-' + color;
						}
					}
				});
			})(mui);
			var H = docEl.clientHeight;
			var hear1 = document.getElementsByTagName('header')[0].offsetHeight;
			var item4 = document.getElementById('item4');
			item4.style.height = H - hear1+ "px";
		</script>
	</body>
</html>
