<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>search</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav forget-title index-top-pd bgcolor-4b">
			<h1 class="mui-title search-wd search-chongzhi">
				<div class="mui-indexed-list-search mui-input-row mui-search mui-active">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索商品" value="可">
				</div>
			</h1>
			<a class="mui-action-back mui-pull-right search-qux">取消</a>
		</header>
		<div class="mui-content">
			<h3 class="search-title">猜你要搜</h3>
			<div class="search-tuijian">
				<a href="">日洁用品</a>
				<a href="">儿童书本</a>
				<a href="">英语</a>
				<a href="">瑜伽器材</a>
				<a href="">点读机</a>
			</div>
			<div class="history-ctrol">
				<ul class="history-item-box">
					<li class="history-item"><i class="iconfont">&#xe6d4;</i><span>瑜伽</span><i class="mui-icon mui-icon-arrowright fr"></i></li>
					<li class="history-item"><i class="iconfont">&#xe6d4;</i><span>幼儿教科书</span><i class="mui-icon mui-icon-arrowright fr"></i></li>
					<li class="history-item"><i class="iconfont">&#xe6d4;</i><span>音乐器材</span><i class="mui-icon mui-icon-arrowright fr"></i></li>
				</ul>
				<button class="del-history">清空搜索记录</button>
			</div>
			<div class="search-content">
				<h3 class="search-contnt-top">搜索“<span class="search-val">可</span>”的公司<i class="mui-icon mui-icon-arrowright fr"></i> <span class="fr search-xiaobiao">共0条结果</span></h3>
				<ul class="search-content-sc">
					<li class="search-item"><i class="iconfont">&#xe604;</i><span>可</span><p>可米酷</p></li>
					<li class="search-item"><i class="iconfont">&#xe604;</i><span>可</span><p>可爱学</p></li>
					<li class="search-item"><i class="iconfont">&#xe604;</i><span>可</span><p>可为天下北京科技有限公司</p></li>
					<li class="search-item"><i class="iconfont">&#xe604;</i><span>可</span><p>可观福建资产管理</p></li>
					<li class="search-item"><i class="iconfont">&#xe604;</i><span>可</span><p>可娃衣北京科贸有限公司</p></li>
					<li class="search-item"><i class="iconfont">&#xe604;</i><span>可</span><p>可轩辕</p></li>
				</ul>
				
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		
	</body>
</html>

