<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<title>客服联系方式</title>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">客服联系方式</h1>
		</header>
		<div class="mui-content">
			<div class="tel-content pd30">
				<h3><span>1</span>如何联系店铺客服</h3>
				<p>1.加微信公众号“乐训联盟商城”联系我们</p>
				<p>2.客服电话：4006-4524-45</p>
				<p>3.客服人员QQ：452134220</p>
				<p>工作时间：工作日9：00-18：30</p>
				<h3><span>2</span>如何更改地址电话、收件人</h3>
				<p>订单还处于未发货的情况下，联系店铺客服进行更改</p>
				<h3><span>3</span>如何索要发票</h3>
				<p>付款完毕后联系店铺客服提供您发票所需开具的抬头以
	及发票寄送地址等信息。发票会在您确认收货之后寄出</p>
				<h3><span>4</span>退款说明</h3>
				<p>如您需要退款可在“我的订单”-选择退款产品-进入“查
	看详情”-点击“申请售后”-选择退款方式进行售后维权。</p>
			</div>
			
		</div>
	</body>
</html>
