<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<title>选择银行</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">确认支付</h1>
		</header>
		<div class="mui-content">
			<form action="" method="post">
				<ul class="bankshoppay">
					<li>原价 <span class="fr">￥80.00</span></li>
					<li>支付金额 <span class="fr">￥856.00</span></li>
					<li>支付方式 <span class="fr">银联快捷支付</span></li>
				</ul>
				<input type="submit" value="确认支付" id="bankqr"/>
			</form>
		</div>
	</body>
</html>
