<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>订单详情</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<div class="mui-content pd-bottom13">
			<p class="bgf dingtel">订单号：15888775452 <span>等待收货</span></p>
			<div class="mui-row bgf order-tishi">
				<div class="mui-col-xs-1">
					<i class="iconfont iconf">&#xe602;</i>
				</div>
				<div class="mui-col-xs-10 order-ts-txt">
					<p>您提交了订单，请等待第三方卖家系统确认</p>
					<span>2016-04-14  10：12:02</span>
				</div>
				<div class="mui-col-xs-1">
					<span class="mui-icon mui-icon-arrowright iconflf"></span>
				</div>
			</div>
			<div class="mui-row mart-20 bgf orderpage-pd">
				<div class="mui-col-xs-1">
					<i class="iconfont iconf">&#xe61d;</i>
				</div>
				<div class="mui-col-xs-11 order-shouhuo">
					<span>收货人：张晓杰</span><span>15444225452</span>
					<p>收货地址：上海市黄浦区南京路东路街道 上海市黄浦区北京东路668号科技京城西楼14c</p>
				</div>
			</div>
			<div class="mui-row bgf orderpage-pd">
				<div class="mui-col-xs-1">
					<i class="iconfont iconf">&#xe649;</i>
				</div>
				<div class="mui-col-xs-11 order-liuyan">
					<p>买家留言</p>
					<input type="text" value="我只是试试留言"/>
				</div>
			</div>
			<div>
				<div class="mui-row shoporder-top bgf mart-20">
					<div class="mui-col-xs-1">
						<i class="iconfont iconf">&#xe614;</i>
					</div>
					<div class="mui-col-xs-11">
						<h3>乐训联盟商城</h3>
					</div>
				</div>	
				<ul class="shoporder-list">
					<li class="mui-row">
						<div class="mui-col-xs-2">
							<img src="../../img/shop-topphoto.png" alt="" />
						</div>
						<div class="mui-col-xs-10 ordershop-txt">
							<h3>澳洲进口Devondale/德运高钙全脂牛奶</h3>
							<p>数量：x1  颜色：金装3段1200克</p>
							<span>￥129.00</span><span>￥129.00</span>
							<span class="order-num">x2</span>
						</div>
					</li>
				</ul>
				<div class="bgf ordershop-pstype">配送方式 <span>快递发货</span></div>
			</div>
			<ul class="shoporder-moneyz bgf mart-20">
				<li>商品总计 <span>￥357.00</span></li>
				<li>运费 <span>￥39.51</span></li>
				<li>税费 <span>￥21.00</span></li>
				<li>优惠总计<span>-￥25.00</span></li>
			</ul>
			<div class="shoporder-zz bgf">
				<p>实付款：<span>￥25.60</span></p>
				<p>下单时间：2016-01-15 12:00:25</p>
			</div>
		</div>
		<!--交易成功-->
		<div class="shoporder-footer bgf">
			<span>删除订单</span>
			<span>申请售后</span>
		</div>
		<!--待收货-->
		<div class="shoporder-footer bgf">
			<span>退款</span>
			<span>确认收货</span>
		</div>
		<!--待付款-->
		<div class="shoporder-footer bgf">
			<div class="fl"><p>付款剩余时间:</p><span>23小时59分钟</span></div>
			<span>取消订单</span>
			<span>付款</span>
		</div>
		<!--待发货-->
		<div class="shoporder-footer bgf">
			<span>退款</span>
		</div> 
	</body>
</html>
