<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" />
		<title>个人中心</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<div class="user-top">
			<a href="" class="iconfont fl">&#xe657;</a>
			<a href="" class="iconfont fr">&#xe649;</a>
			<div class="user-top-xinxi">
				<img src="../../img/user-top.png" alt="" />
				<h3>我是宝妈</h3>
				<p>15000442545</p>
				<a href="" class="user-bianji"><i class="iconfont">&#xe670;</i>编辑</a>
			</div>
		</div>
		<div class="user-content">
			<div class="bgf user-nav">
				<a href="">
					<img src="../../img/user-kecheng.png"/>
					<p>我的课程</p>
				</a>
				<a href="">
					<img src="../../img/user-gongyi.png" alt="" />
					<p>我的公益</p>
				</a>
				<a href="">
					<img src="../../img/user-shoucang.png"/>
					<p>我的收藏</p>
				</a>
			</div>
			<ul class="user-list bgf">
				<li>
					<a href="">
					<img src="../../img/baobei.png" alt="" />
					<span>我的宝贝</span>
					<i class="mui-icon mui-icon-arrowright fr"></i>
					<span class="fr user-zldu">不完善</span>
					</a>
				</li>
				<li>
					<a href="">
					<img src="../../img/qianbao.png" alt="" />
					<span>我的钱包</span>
					<i class="mui-icon mui-icon-arrowright fr"></i>
					<span class="fr user-yue">0.00</span>
					</a>
				</li>
			</ul>
			<ul class="user-list bgf">
				<li>
					<a href="">
						<img src="../../img/gouwu.png"/>
						<span>购物车</span>
						<i class="mui-icon mui-icon-arrowright fr"></i>
					</a>
				</li>
				<li>
					<a href="">
						<img src="../../img/dingdan.png"/>
						<span>我的订单</span>
						<i class="mui-icon mui-icon-arrowright fr"></i>
					</a>
				</li>
				<li>
					<a href="">
						<img src="../../img/kefu.png"/>
						<span>联系我们</span>
						<i class="mui-icon mui-icon-arrowright fr"></i>
					</a>
				</li>
			</ul>
			<p class="yqma">邀请码：a51254</p>
		</div>
		<nav class="mui-bar mui-bar-tab " id="nearby-footer">
			<a class="mui-tab-item " href="#tabbar">
				<span class="mui-icon iconfont icon-home" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-chat">
				<span class="mui-icon iconfont icon-zixun zixun" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">资讯</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-chat">
				<span class="font-img"><img src="../../img/2-fujin.png"/></span>
				<span class="mui-tab-label nearby-magtop">附近</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-contact">
				<span class="mui-icon iconfont icon-iconfont" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">商城</span>
			</a>
			<a class="mui-tab-item mui-active" href="#tabbar-with-map">
				<span class="mui-icon iconfont icon-wode" style="font-size:0.4rem; height:0.4rem;width:0.4rem;"></span>
				<span class="mui-tab-label">我</span>
			</a>
		</nav>
		<div class="modal-box">
			<div class="sz-box">
				<h3 class="xg-title">设置</h3>
				<ul class="bgf">
					<li class="mui-row xg-list">
						<div class="mui-col-xs-1 sz-iconimg"><img src="../../img/icon-xgmm.png" alt="" /></div>
						<div class="mui-col-xs-11 sz-txt">修改密码</div>
					</li>
					<li class="mui-row xg-list">
						<div class="mui-col-xs-1 sz-iconimg"><img src="../../img/icon-yjfk.png" alt="" /></div>
						<div class="mui-col-xs-11 sz-txt">意见反馈</div>
					</li>
					<li class="mui-row xg-list">
						<div class="mui-col-xs-1 sz-iconimg"><img src="../../img/icon-qchc.png" alt="" /></div>
						<div class="mui-col-xs-11 sz-txt">清除缓存</div>
					</li>
					<li class="mui-row xg-list">
						<div class="mui-col-xs-1 sz-iconimg"><img src="../../img/dqbb-icon.png" alt="" /></div>
						<div class="mui-col-xs-11 sz-txt">当前版本<span>1.3.1</span></div>
					</li>
					<li class="mui-row xg-list">
						<div class="mui-col-xs-1 sz-iconimg"><img src="../../img/gywm-icon.png" alt="" /></div>
						<div class="mui-col-xs-11 sz-txt">关于我们</div>
					</li>
					<li class="mui-row xg-list">
						<div class="mui-col-xs-1 sz-iconimg"><img src="../../img/tc-icon.png" alt="" /></div>
						<div class="mui-col-xs-11 sz-txt">退出登录</div>
					</li>
				</ul>
				<div class="xg-gb"><img src="../../img/xggb.png" alt="" /></div>
			</div>
			<div class="tc-box bgf">
				<h3>是否退出登录</h3>
				<div><span>取消</span><span>确定</span></div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../js/mui.min.js"></script>
	</body>
</html>
