<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>系统消息详情</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">消息详情</h1>
		</header>
		<div class="mui-content xtxq-box bgf">
			<img src="../../img/xximg.png" alt="" />
			<p class="time">2016/09/26</p>
			<h2>实力派/联基金邱浩：他那么冷静不妨碍他想做疯狂的事情</h2>
			<p>这是一段系统信息内容描述，这是一段系统信息内容描述。这是一段系统信息内容描述，这是一段系统信息内容描述，这是一段系统信息内容描述，这是一段系统信息内容描述，这是一段系统信息内容描述，这是一段系统信息内容描述，这是一段系统信息内容描述，这是一段系统信息内容描述。</p>
		</div>
	</body>
</html>
