<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>编辑个人资料</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">编辑个人资料</h1>
			<a href="" class="mui-action-menu mui-pull-right baoxun">保存</a>
		</header>
		<div class="mui-content">
			<div class="bgf baby-zl-top">
				<h3>我的头像</h3>
				<div class="baby-topimg">
					<img src="../../img/babyimg.png" alt="" class="babyimg" />
					<input type="file" name="" id="" value="123"  class="file2"/>
					<span class="filebg"></span>
				</div>
				<div class="babysex mui-row">
					<span class="mui-col-xs-4 sex1 active">男</span>
					<span class="mui-col-xs-4 sex1">女</span>
					<span class="mui-col-xs-4 sex1">保密</span>
				</div>
			</div>
			<ul class="list-box czstyle">
				<li class="list-item">昵称<input type="text" name="" id="" value="" placeholder="请填写宝贝姓名"/></li>
				<li class="list-item xuanzek" data-options='{"type":"date","beginYear":1970,"endYear":2018}'>年龄 <input type="text" name="" id="age1" value="" placeholder="请选择年龄" /><i class="mui-icon mui-icon-arrowright fr"></i></li>
				<li class="list-item">手机号<input type="text" placeholder="请填写手机号"/><i class="mui-icon mui-icon-arrowright fr"></i></li>
				<li class="list-item xuanzek"><a href="">所在地 <input type="text" name="" id="nianj" value="" placeholder="请选择所在城市"/><i class="mui-icon mui-icon-arrowright fr"></i></a></li>
				<li class="list-item">审核状态<p>认证成功</p></li>
			</ul>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/mui.picker.min.js"></script>
		<script>
			(function($){
				$.ready(function(){
					var xzk = $('.xuanzek');
					var age1 = $('#age1')[0];
					var nianj = $('#nianj')[0];
					var sex = $('.sex1');
					var mydata = new Date();
					sex.each(function(i,se){
						se.addEventListener('tap',function(){
							for(var j=0;j<sex.length;j++){
								sex[j].className = 'mui-col-xs-4 sex1';
							};
							this.classList.add('active');
						});
					});
					xzk.each(function(i,lis){
						lis.addEventListener('tap',function(){
							
							var year = mydata.getFullYear();
							if(i==0){
								var optionsJson = this.getAttribute('data-options') || '{}';
								var options = JSON.parse(optionsJson);
								var picker = new $.DtPicker(options);
								picker.show(function(rs) {
									/*
									 * rs.value 拼合后的 value
									 * rs.text 拼合后的 text
									 * rs.y 年，可以通过 rs.y.value 和 rs.y.text 获取值和文本
									 * rs.m 月，用法同年
									 * rs.d 日，用法同年
									 * rs.h 时，用法同年
									 * rs.i 分（minutes 的第二个字母），用法同年
									 */
									age1.value=year-rs.y.value+"岁";
									picker.dispose();
								});
							};
						});
					})
				});
			})(mui);
		</script>
	</body>
</html>
