<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>全部订单</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">全部订单</h1>
		</header>
		<div class="mui-content pd24">
			<div id="segmentedControl" class="mui-segmented-control item-nav order-title">
				<a class="mui-control-item" href="#Ordercontent1">待付款</a>
				<a class="mui-control-item" href="#Ordercontent2">待发货</a>
				<a class="mui-control-item" href="#Ordercontent3">待收货</a>
				<a class="mui-control-item" href="#Ordercontent4">已收货</a>
				<a class="mui-control-item mui-active" href="#Ordercontent5">全部</a>
			</div>
			<div id="Ordercontent1" class="mui-control-content">
				<div class="shop-zli">
					<div class="shop-top bgf"><h3>等待买家付款</h3><span class="fr">2016-11-22  19:03</span></div>
					<ul class="order-li">
						<li class="order-item">
							<span><img src="../../img/shop-topphoto.png" alt="" /></span>
							<div class="order-txt">
								<p>美国直邮卡特Carter’s男宝宝纯色V领长袖针织衫毛衣双色可选</p>
								<span class="order-xinxi">蓝色，3个月</span>
								<span class="order-num">x1</span>
								<sapn class="order-money">￥204.00</sapn>
							</div>
						</li>
					</ul>
					<div class="order-footer bgf">
						<span>实付：￥204.00</span>
						<div class="fr">
							<span>取消订单</span>
							<span>付款</span>
						</div>
					</div>
				</div>
			</div>
			<div id="Ordercontent2" class="mui-control-content">
					待发货页面
			</div>
			<div id="Ordercontent3" class="mui-control-content">
					<div class="shop-zli">
					<div class="shop-top bgf"><h3>等待买家付款</h3><span class="fr">2016-11-22  19:03</span></div>
					<ul class="order-li">
						<li class="order-item">
							<span><img src="../../img/shop-topphoto.png" alt="" /></span>
							<div class="order-txt">
								<p>美国直邮卡特Carter’s男宝宝纯色V领长袖针织衫毛衣双色可选</p>
								<span class="order-xinxi">蓝色，3个月</span>
								<span class="order-num">x1</span>
								<sapn class="order-money">￥204.00</sapn>
							</div>
						</li>
					</ul>
					<div class="order-footer bgf">
						<span>实付：￥204.00</span>
						<div class="fr">
							<span>查看物流</span>
							<span>确认收货</span>
						</div>
					</div>
				</div>
			</div>
			<div id="Ordercontent4" class="mui-control-content">
				<div class="shop-zli">
					<div class="shop-top bgf"><h3>买家已付款</h3><span class="fr">2016-11-22  19:03</span></div>
					<ul class="order-li">
						<li class="order-item">
							<span><img src="../../img/shop-topphoto.png" alt="" /></span>
							<div class="order-txt">
								<p>美国直邮卡特Carter’s男宝宝纯色V领长袖针织衫毛衣双色可选</p>
								<span class="order-xinxi">蓝色，3个月</span>
								<span class="order-num">x1</span>
								<sapn class="order-money">￥204.00</sapn>
							</div>
						</li>
					</ul>
					<div class="order-footer bgf">
						<span>实付：￥204.00</span>
					</div>
				</div>
			</div>
			<div id="Ordercontent5" class="mui-control-content mui-active">
				<div class="shop-zli">
					<div class="shop-top bgf"><h3>等待买家付款</h3><span class="fr">2016-11-22  19:03</span></div>
					<ul class="order-li">
						<li class="order-item">
							<span><img src="../../img/shop-topphoto.png" alt="" /></span>
							<div class="order-txt">
								<p>美国直邮卡特Carter’s男宝宝纯色V领长袖针织衫毛衣双色可选</p>
								<span class="order-xinxi">蓝色，3个月</span>
								<span class="order-num">x1</span>
								<sapn class="order-money">￥204.00</sapn>
							</div>
						</li>
					</ul>
					<div class="order-footer bgf">
						<span>实付：￥204.00</span>
						<div class="fr">
							<span>取消订单</span>
							<span>付款</span>
						</div>
					</div>
				</div>
				<div class="shop-zli">
					<div class="shop-top bgf"><h3>等待买家付款</h3><span class="fr">2016-11-22  19:03</span></div>
					<ul class="order-li">
						<li class="order-item">
							<span><img src="../../img/shop-topphoto.png" alt="" /></span>
							<div class="order-txt">
								<p>美国直邮卡特Carter’s男宝宝纯色V领长袖针织衫毛衣双色可选</p>
								<span class="order-xinxi">蓝色，3个月</span>
								<span class="order-num">x1</span>
								<sapn class="order-money">￥204.00</sapn>
							</div>
						</li>
						<li class="order-item">
							<span><img src="../../img/shop-topphoto.png" alt="" /></span>
							<div class="order-txt">
								<p>美国直邮卡特Carter’s男宝宝纯色V领长袖针织衫毛衣双色可选</p>
								<span class="order-xinxi">蓝色，3个月</span>
								<span class="order-num">x1</span>
								<sapn class="order-money">￥204.00</sapn>
							</div>
						</li>
					</ul>
					<div class="order-footer bgf">
						<span>实付：￥204.00</span>
						<div class="fr">
							<span>查看物流</span>
							<span>确认收货</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			var Ch=document.documentElement.clientHeight;
			var cont = document.getElementsByClassName('mui-content')[0];
			cont.style.minHeight=Ch+'px';
		</script>
	</body>
</html>
