<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>我要入驻</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我要入驻</h1>
		</header>
		<div class="mui-content">
			<ul class="bgf">
				<li class="mui-row Setd-list">
					<div class="mui-col-xs-10">
						<h3>商家入驻</h3>
						<span>bd@lexunlianmeng.com</span>
						<p>关于商家入驻的内容描述（可提示用户入驻需填备注、或描述商家入驻功能等）</p>
					</div>
					<div class="mui-col-xs-2 iconbox">
						<i class="iconfont">&#xe607;</i>
					</div>
				</li>
				<li class="mui-row Setd-list">
					<div class="mui-col-xs-10">
						<h3>场地入驻</h3>
						<span>bd@lexunlianmeng.com</span>
						<p>关于商家入驻的内容描述（可提示用户入驻需填备注、或描述商家入驻功能等）</p>
					</div>
					<div class="mui-col-xs-2 iconbox">
						<i class="iconfont">&#xe607;</i>
					</div>
				</li>
				<li class="mui-row Setd-list">
					<div class="mui-col-xs-10">
						<h3>投资合作</h3>
						<span>bd@lexunlianmeng.com</span>
						<p>关于商家入驻的内容描述（可提示用户入驻需填备注、或描述商家入驻功能等）</p>
					</div>
					<div class="mui-col-xs-2 iconbox">
						<i class="iconfont">&#xe607;</i>
					</div>
				</li>
				<li class="mui-row Setd-list">
					<div class="mui-col-xs-10">
						<h3>其他合作</h3>
						<span>bd@lexunlianmeng.com</span>
						<p>关于商家入驻的内容描述（可提示用户入驻需填备注、或描述商家入驻功能等）</p>
					</div>
					<div class="mui-col-xs-2 iconbox">
						<i class="iconfont">&#xe607;</i>
					</div>
				</li>
			</ul>
		</div>
		<script>
			var Ch=document.documentElement.clientHeight;
			var cont = document.getElementsByClassName('mui-content')[0];
			cont.style.minHeight=Ch+'px';
		</script>
	</body>
</html>
