<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>联系我们</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">联系我们</h1>
		</header>
		<div class="mui-content">
			<a href="" class="lxwm-a bgf">
				<span><img src="../../img/icon-ruzhu.png" alt="" /></span>
				我要入驻
				<i class="mui-icon mui-icon-arrowright fr"></i>
			</a>
			<a href="" class="lxwm-a bgf">
				<span><img src="../../img/icon-tuiguang.png" alt="" /></span>
				我是推广客
				<i class="mui-icon mui-icon-arrowright fr"></i>
				<span class="fr yqmc">邀请码：a15425</span>
			</a>
			<ul class="lxwm-li mart-20 bgf">
				<li>电话<span class="fr">400-2154-425</span></li>
				<li>QQ<span class="fr">542534220</span></li>
				<li>微信号 <span class="fr">lexun123</span></li>
			</ul>
		</div>
		<div class="modal-box2" style="display: block;">
			<div class="modal-fenxiang">
				<div class="fenxiang-box">
					<a href="">
						<img src="../../img/fenxiang-weixin.png"/>
						<span>微信</span>
					</a>
					<a href="">
						<img src="../../img/fenxiang-kongjian.png"/>
						<span>QQ空间</span>
					</a>
					<a href="">
						<img src="../../img/fenxiang-qq.png" alt="" />
						<span>QQ好友</span>
					</a>
					<a href="">
						<img src="../../img/fenxiang-pengyouquan.png"/>
						<span>朋友圈</span>
					</a>
					<a href="">
						<img src="../../img/fenxiang-weibo.png"/>
						<span>新浪微博</span>
					</a>
					<a href="">
						<img src="../../img/fenxiang-fuzhi.png" alt="" />
						<span>复制链接</span>
					</a>
				</div>
				<button><span class="mui-icon mui-icon-closeempty"></span></button>
			</div>
		</div>
		<script>
			var Ch=document.documentElement.clientHeight;
			var cont = document.getElementsByClassName('mui-content')[0];
			cont.style.minHeight=Ch+'px';
		</script>
	</body>
</html>
