<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>修改手机号</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<div class="mui-navbar-inner mui-bar mui-bar-nav forget-title">
			<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
				<span class="mui-icon mui-icon-left-nav"></span>返回
			</button>
		</div>
		<div class="mui-content bgf">
			<div class="mui-text-center xgyz-top">
				<h3 class="xgya-title">修改手机号</h3>
				<div class="yzimg"><img src="../../img/yztel-img.png" alt="" /></div>
				<p class="xgyz-txt">你当前手机号为</p>
				<p class="xgyz-txt"><span>153****2542</span>更换后可用新手机号登录</p>
			</div>
			<form action="" method="post" class="form-padding">
				<ul class="form-ul">
					<li class="form-list bg-tel1"><input type="text" placeholder="手机号"/></li>
					<li class="form-list bg-safe1"><input type="text" placeholder="验证码"/><span class="yz">获验证码</span><span class="ms">56s</span></li>
				</ul>
				<input type="submit" value="下一步" class="form-submit"/>
			</form>
		</div>
	</body>
</html>
