<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>课程消息</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">课程信息</h1>
		</header>
		<div class="mui-content">
			<ul class="bgf">
				<li class="mui-row kc-list">
					<div class="mui-col-xs-4"><img src="../../img/3-book-logo.png" alt="" /></div>
					<div class="mui-col-xs-8 kc-txt">
						<h3>初三课程辅导</h3>
						<p>51TalK无忧英语</p>
						<span>上海市黄浦区</span>
						<span>【报名成功】</span>
						<span>10月27日</span>
					</div>
				</li>
				<li class="mui-row kc-list">
					<div class="mui-col-xs-4"><img src="../../img/3-book-logo.png" alt="" /></div>
					<div class="mui-col-xs-8 kc-txt">
						<h3>初三课程辅导</h3>
						<p>51TalK无忧英语</p>
						<span>上海市黄浦区</span>
						<span>【报名成功】</span>
						<span>10月27日</span>
					</div>
				</li>
				<li class="mui-row kc-list">
					<div class="mui-col-xs-4"><img src="../../img/3-book-logo.png" alt="" /></div>
					<div class="mui-col-xs-8 kc-txt">
						<h3>初三课程辅导</h3>
						<p>51TalK无忧英语</p>
						<span>上海市黄浦区</span>
						<span>【报名成功】</span>
						<span>10月27日</span>
					</div>
				</li>
			</ul>
		</div>
		<script>
			var Ch=document.documentElement.clientHeight;
			var cont = document.getElementsByClassName('mui-content')[0];
			cont.style.minHeight=Ch+'px';
		</script>
	</body>
</html>
