<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>修改手机号</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<div class="xgscs-box mui-text-center">
			<div>
				<img src="../../img/yztel-img-scs.png" alt="" />
			</div>
			<p>手机号更换成功</p>
			<p>你可以用<span>186****2544</span>登录乐训账号</p>
		</div>
		<a href="" class="fhgrzl">返回到个人资料</a>
	</body>
</html>
