<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>交易明细</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">交易明细</h1>
		</header>
		<div class="mui-content bgf2">
			<div class="mx-box">
				<p><span>本月</span> <span>充值:100.00</span><span>支出:0.00</span></p>
				<ul class="bgf mx-list">
					<li>
						<p>充值<span>+100.00</span></p>
						<p><span>今天17:23</span><span>交易成功</span></p>
					</li>
					<li>
						<p>充值<span>-100.00</span></p>
						<p><span>今天17:23</span><span>交易成功</span></p>
					</li>
					<li>
						<p>充值<span>+100.00</span></p>
						<p><span>今天17:23</span><span>交易成功</span></p>
					</li>
					
				</ul>
			</div>
			<div class="mx-box">
				<p><span>10月</span> <span>充值:100.00</span><span>支出:0.00</span></p>
				<ul class="bgf mx-list">
					<li>
						<p>充值<span>+100.00</span></p>
						<p><span>今天17:23</span><span>交易成功</span></p>
					</li>
					<li>
						<p>充值<span>-100.00</span></p>
						<p><span>今天17:23</span><span>交易成功</span></p>
					</li>
					<li>
						<p>充值<span>+100.00</span></p>
						<p><span>今天17:23</span><span>交易成功</span></p>
					</li>
					
				</ul>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			(function($){
				$.ready(function(){
					var Ch=document.documentElement.clientHeight;
					var conbox = $('.mui-content')[0];
					conbox.style.minHeight = Ch+'px';
				});
			})(mui);
		</script>
	</body>
</html>
