<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>我的课程</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">我的课程</h1>
		</header>
		<div class="mui-content">
			<div class="course-nav bgf mui-segmented-control-vertical">
				<a class="mui-control-item mui-active" data-index="0" href="#coursecontent1"><span>未上课程</span></a>
				<a class="mui-control-item" data-index="1" href="#coursecontent2"><span>已上课程</span></a>
				<a class="mui-control-item" data-index="2" href="#coursecontent3"><span>已玩课程</span></a>
			</div>
			<div class="pdtop">
				<div id="coursecontent1" class="mui-control-content  mui-active">
					<ul class="bgf courseul">
						<li class="pd30 course-list">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<span class="quxiaobm">取消报名</span>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时：4</span><span style="margin-right: 0.2rem;">评价：16</span><span>地点：黄浦区</span></h5>	
									</div>
								</div>
							</a>
						</li>
						<li class="pd30 course-list">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<span class="quxiaobm">取消报名</span>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时：4</span><span style="margin-right: 0.2rem;">评价：16</span><span>地点：黄浦区</span></h5>	
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div id="coursecontent2" class="mui-control-content">
					<ul class="bgf courseul">
						<li class="pd30 course-list">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时：4</span><span style="margin-right: 0.2rem;">评价：16</span><span>地点：黄浦区</span></h5>	
									</div>
								</div>
							</a>
						</li>
						<li class="pd30 course-list">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时：4</span><span style="margin-right: 0.2rem;">评价：16</span><span>地点：黄浦区</span></h5>	
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div id="coursecontent3" class="mui-control-content ">
					<ul class="bgf courseul">
						<li class="pd30 course-list">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<span class="quxiaobm"><i class="iconfont">&#xe670;</i>去评价</span>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时：4</span><span style="margin-right: 0.2rem;">评价：16</span><span>地点：黄浦区</span></h5>	
									</div>
								</div>
							</a>
						</li>
						<li class="pd30 course-list">
							<a href="">
								<div class="mui-table">
									<div class="mui-table-cell mui-col-xs-4 book-logo">
										<img src="../../img/3-book-logo.png" />
									</div>
									<div class="mui-table-cell mui-col-xs-8 shop-xinxi">
										<h4 class="mui-ellipsis shop-name">乐训网点名称一</h4>
										<span class="quxiaobm"><i class="iconfont">&#xe670;</i>去评价</span>
										<div class="mui-h6 mui-ellipsis shop-place">夏老师
											<p class="appraise book-sty">
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe659;</span>
												<span class="iconfont">&#xe634;</span>
											</p>
										</div>
										<h5 class="shop-place"><span style="margin-right: 0.2rem;">课时：4</span><span style="margin-right: 0.2rem;">评价：16</span><span>地点：黄浦区</span></h5>	
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			(function($){
				$.ready(function(){
					var item = $('.mui-control-item');
					var conbox = document.getElementsByClassName('mui-content')[0];
					var courseul = $('.courseul');
					var bg=function(i){
						var coli=courseul[i].getElementsByTagName('li');
						if(coli.length==0){
							conbox.classList.add('coursebg');
						}else{
							conbox.className='mui-content';
						};
					};
					bg(0);//调用当没有数据时显示没有数据的背景图
					item.each(function(i,itm){//遍历点击切换点击效果
						itm.addEventListener('tap',function(){
							for(var j=0;j<item.length;j++){
								item[j].className='mui-control-item';
							}
							itm.classList.add('mui-active');
							bg(i);
						});
					});
				});
			})(mui);
			var H = docEl.clientHeight;//获取屏幕高度
			var content = document.getElementsByClassName('mui-content')[0];
			content.style.height = H+"px";//把屏幕高度添加到内容的框中
		</script>
	</body>
</html>
