<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>购物车</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">购物车</h1>
			<a href="" class="mui-action-menu mui-pull-right shopbg shop-active">编辑</a>
			<a href="" class="mui-action-menu mui-pull-right shopbg">完成</a>
		</header>
		<div class="mui-content">
			<div class="shopping-box">
				<div class="shopping-shop">
					<span class="shop-xz xz"><i class="iconfont">&#xe618;</i></span>
					<i class="iconfont shop-ico">&#xe614;</i>
					<span class="shop-name1">乐训联盟商城</span>
					<p class="shop-guanggao">全店单笔订单支付满59元包邮</p>
				</div>
				<div class="mui-row shop-list">
					<div class="mui-col-xs-1">
						<span class="list-xz"><i class="iconfont">&#xe618;</i></span>
					</div>
					<div class="mui-col-xs-11 shop-con"> 
						<span><img src="../../img/shop-img.png" alt="" /></span>
						<span class="wuhuo"><p>无货</p>Sold out</span>
						<div class="shop-txt">
							<h3>日本贝亲Pigeon母乳保存带什么什么什么</h3>
							<p class="shoptype">450ml，件数，芳香味</p>
							<p class="shopyj">￥95.00</p>
							<p class="shoppayj">￥62.00</p>
							<div class="mui-numbox potav">
								<button class="mui-btn mui-btn-numbox-minus" id="jian" type="button"><span class="jianh">-</span><i class="iconfont"style="display: none;">&#xe65f;</i></button>
								<input class="mui-input-numbox" type="number" id="num1"/>
								<button class="mui-btn mui-btn-numbox-plus" id="jia" type="button">+</button>
							</div>
						</div>
					</div>
				</div>
				<div class="mui-row shop-list">
					<div class="mui-col-xs-1">
						<span class="list-xz"><i class="iconfont">&#xe618;</i></span>
					</div>
					<div class="mui-col-xs-11 shop-con"> 
						<span><img src="../../img/shop-img.png" alt="" /></span>
						<span class="wuhuo"><p>无货</p>Sold out</span>
						<div class="shop-txt">
							<h3>日本贝亲Pigeon母乳保存带什么什么什么</h3>
							<p class="shoptype">450ml，件数，芳香味</p>
							<p class="shopyj">￥95.00</p>
							<p class="shoppayj">￥62.00</p>
							<div class="mui-numbox potav">
								<button class="mui-btn mui-btn-numbox-minus" id="jian" type="button"><span class="jianh">-</span><i class="iconfont"style="display: none;">&#xe65f;</i></button>
								<input class="mui-input-numbox" type="number" id="num1"/>
								<button class="mui-btn mui-btn-numbox-plus" id="jia" type="button">+</button>
							</div>
						</div>
					</div>
				</div>
				<div class="mui-row shop-list">
					<div class="mui-col-xs-1">
						<span class="list-xz"><i class="iconfont">&#xe618;</i></span>
					</div>
					<div class="mui-col-xs-11 shop-con"> 
						<span><img src="../../img/shop-img.png" alt="" /></span>
						<span class="wuhuo"><p>无货</p>Sold out</span>
						<div class="shop-txt">
							<h3>日本贝亲Pigeon母乳保存带什么什么什么</h3>
							<p class="shoptype">450ml，件数，芳香味</p>
							<p class="shopyj">￥95.00</p>
							<p class="shoppayj">￥62.00</p>
							<div class="mui-numbox potav">
								<button class="mui-btn mui-btn-numbox-minus" id="jian" type="button"><span class="jianh">-</span><i class="iconfont"style="display: none;">&#xe65f;</i></button>
								<input class="mui-input-numbox" type="number" id="num1"/>
								<button class="mui-btn mui-btn-numbox-plus" id="jia" type="button">+</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h3 class="title-top"><span></span>您可能还需要<span></span></h3>
				<div class="cle pd-bottom13">
					<div class="shop-item bgf fl">
						<a href=""><img src="../../img/shop-phopo.png"/></a>
						<h4>第一套百科全书正版6册</h4>
						<span>￥39.70</span><span>￥39.70</span><button class="btn1"><span class="iconfont colorffab">&#xe6d5;</span></button>
					</div>
					<div class="shop-item bgf fl">
						<a href=""><img src="../../img/shop-phopo.png"/></a>
						<h4>第一套百科全书正版6册</h4>
						<span>￥39.70</span><span>￥39.70</span><button class="btn1"><span class="iconfont colorffab">&#xe6d5;</span></button>
					</div>
					<div class="shop-item bgf fl">
						<a href=""><img src="../../img/shop-phopo.png"/></a>
						<h4>第一套百科全书正版6册</h4>
						<span>￥39.70</span><span>￥39.70</span><button class="btn1"><span class="iconfont colorffab">&#xe6d5;</span></button>
					</div>
					<div class="shop-item bgf fl">
						<a href=""><img src="../../img/shop-phopo.png"/></a>
						<h4>第一套百科全书正版6册</h4>
						<span>￥39.70</span><span>￥39.70</span><button class="btn1"><span class="iconfont colorffab">&#xe6d5;</span></button>
					</div>
					<div class="shop-item bgf fl">
						<a href=""><img src="../../img/shop-phopo.png"/></a>
						<h4>第一套百科全书正版6册</h4>
						<span>￥39.70</span><span>￥39.70</span><button class="btn1"><span class="iconfont colorffab">&#xe6d5;</span></button>
					</div>
					<div class="shop-item bgf fl">
						<a href=""><img src="../../img/shop-phopo.png"/></a>
						<h4>第一套百科全书正版6册</h4>
						<span>￥39.70</span><span>￥39.70</span><button class="btn1"><span class="iconfont colorffab">&#xe6d5;</span></button>
					</div>	
				</div>
			</div>
		</div>
		<div class="us-footer">
			<div class="fl">
				<span class="shop-xz"><i class="iconfont">&#xe618;</i></span>
				<span class="us-footer-txt">全选</span>
			</div>
			
			<div class="jiaqian"><p>合计：￥448.00</p><span>￥448.00</span></div>
			<a href="" class="jiesuan fr">去结算（2）</a>
			<button class="shanchu fr" style="display: none;">删除</button>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script>
			(function($){
				$.ready(function(){
					var xz = $('.xz');	//获取class为xz的元素
					var fool=true;	//创建布尔值用于切换判断
					xz.each(function(i,xz){//对元素进行遍历
						xz.addEventListener('tap',function(){//对遍历后的每一个元素添加tap点击事件
							var shopbox = this.parentNode.parentNode;//获取该事件的父亲的父亲的节点用于查找下面class为list-xz的元素
							if(fool==true){
								var listxz = shopbox.getElementsByClassName('list-xz');	
								for(var a=0;a<listxz.length;a++){
									listxz[a].className = 'list-xz1';
									a=-1;
								};
								xz.className = 'shop-xz1 xz';
								fool=false;
								//如果元素没有全选，选获取没有全选的元素然后改变成选中的状态；
							}else{
								var listxz1 = shopbox.getElementsByClassName('list-xz1');	
								for(var a=0;a<listxz1.length;a++){
									listxz1[a].className = 'list-xz';
									a=-1;
								};
								xz.className = 'shop-xz xz';
								fool=true;
								//当为全选中的状态时，改变为全部没有选中；
							}
						});
					});	
				});
			})(mui);
		</script>
	</body>
</html>
