<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport"/>
		<title>服务选项</title>
		<script type="text/javascript" src="../../js/meta-font.js"></script>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav Data-title  forget-title bgcolor-4b">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">服务选项</h1>
		</header>
		<div class="mui-content">
			<div class="mui-row bgf bt02">
				<div class="mui-col-xs-11 drawback-type">
					<span class="iconfont">&#xe669;</span><span>退货退款</span>
					<p>已收到货，需要退还已收到的货物</p>
				</div>
				<div class="mui-col-xs-1">
					<span class="mui-icon mui-icon-arrowright db-iconflf"></span>
				</div>
			</div>
			<div class="mui-row bgf bt02">
				<div class="mui-col-xs-11 drawback-type spanbgc">
					<span class="iconfont">&#xe60a;</span><span>仅退款</span>
					<p>未收到货，或与卖家协商同意前提下申请</p>
				</div>
				<div class="mui-col-xs-1">
					<span class="mui-icon mui-icon-arrowright db-iconflf"></span>
				</div>
			</div>
		</div>
	</body>
</html>
